<h1>Welcome to Rock, Paper, Scissors!</h1>
<h2>Your choices are as follows:</h2>
<p>
  <ul>
    <li>Rock</li>
    <li>Paper or</li>
    <li>Scissors</li>
  </ul>
</p>
<h2>Enter your choices for each player in the url above like so:</h2>
<p>localhost:4567/play/PLAYER1_CHOICE_HERE/PLAYER2_CHOICE_HERE</p>
