body {
  background-color: rgb(255, 153, 51);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

h1, h2 {
  color: rgb(0, 0, 102);
}

a, p, ul {
  color: white;
}
